In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/data.csv")

In [ ]:
df.head(10)

,Name,Price,Rating,Memory,Battery,Camera,Screen
0,"SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000 mAh Lithium Ion Battery,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
1,"SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000 mAh Lithium Ion Battery,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
2,"SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000 mAh Lithium Ion Battery,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
3,"REDMI 9i Sport (Carbon Black, 64 GB)","7,599",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,5000 mAh Li-Polymer Battery,13MP Rear Camera | 5MP Front Camera,16.59 cm (6.53 inch) HD+ Display
4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","14,499",4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,5000 mAh Lithium Ion Battery,50MP + 8MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
5,"SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)","14,499",4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,5000 mAh Lithium Ion Battery,50MP + 8MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
6,"APPLE iPhone 11 (Black, 64 GB)","41,990",4.6,64 GB ROM,A13 Bionic Chip Processor,12MP + 12MP | 12MP Front Camera,15.49 cm (6.1 inch) Liquid Retina HD Display
7,"SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)","14,499",4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,5000 mAh Lithium Ion Battery,50MP + 8MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
8,"APPLE iPhone 11 (Black, 128 GB)","46,990",4.6,128 GB ROM,A13 Bionic Chip Processor,12MP + 12MP | 12MP Front Camera,15.49 cm (6.1 inch) Liquid Retina HD Display
9,"REDMI 10 (Pacific Blue, 64 GB)","9,999",4.3,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000 mAh Lithium Polymer Battery,50MP + 2MP | 5MP Front Camera,17.02 cm (6.7 inch) HD+ Display

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     983 non-null    object
 1   Price    983 non-null    object
 2   Rating   983 non-null    object
 3   Memory   983 non-null    object
 4   Battery  983 non-null    object
 5   Camera   983 non-null    object
 6   Screen   983 non-null    object
dtypes: object(7)
memory usage: 53.9+ KB

In [ ]:
battery=df['Battery']

In [ ]:
battery

0                           6000 mAh Lithium Ion Battery
1                           6000 mAh Lithium Ion Battery
2                           6000 mAh Lithium Ion Battery
3                            5000 mAh Li-Polymer Battery
4                           5000 mAh Lithium Ion Battery
                             ...
978                                     5000 mAh Battery
979                                     5020 mAh Battery
980    A14 Bionic Chip with Next Generation Neural En...
981                                     6000 mAh Battery
982                              1000 mAh Li-ion Battery
Name: Battery, Length: 983, dtype: object

In [ ]:
batter=[]
for i in battery:
  a=i.split(" ")
  try:
    batter.append(int(a[0]))
  except:
    batter.append("NaN")

In [ ]:
batter.count("NaN")

61

In [ ]:
mah=0
for i in batter:
  try:
    mah+=i
  except:
    mah+=0

In [ ]:
mah=int(mah/len(batter))

In [ ]:
mah

3879

In [ ]:
for i in range(0,len(batter)):
  if(batter[i]=="NaN"):
    batter[i]=mah

In [ ]:
batter.count("NaN")

0

In [ ]:
len(batter)

983

In [ ]:
df['Battery']=batter

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     983 non-null    object
 1   Price    983 non-null    object
 2   Rating   983 non-null    object
 3   Memory   983 non-null    object
 4   Battery  983 non-null    int64
 5   Camera   983 non-null    object
 6   Screen   983 non-null    object
dtypes: int64(1), object(6)
memory usage: 53.9+ KB

In [ ]:
df.head()

,Name,Price,Rating,Memory,Battery,Camera,Screen
0,"SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
1,"SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
2,"SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)","9,499",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display
3,"REDMI 9i Sport (Carbon Black, 64 GB)","7,599",4.4,4 GB RAM | 64 GB ROM | Expandable Upto 512 GB,5000,13MP Rear Camera | 5MP Front Camera,16.59 cm (6.53 inch) HD+ Display
4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)","14,499",4.3,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB,5000,50MP + 8MP + 2MP | 8MP Front Camera,16.76 cm (6.6 inch) Full HD+ Display

In [ ]:
rating=df['Rating']

In [ ]:
len(rating)

983

In [ ]:
rate=0
count=0
for i in rating:
  if(i!="Nan"):
    rate+=float(i)
  else:
    count+=1

In [ ]:
count

27

In [ ]:
rate=rate/len(rating)

In [ ]:
for i in range(len(rating)):
  if(rating[i]=="Nan"):
    rating[i]=rate

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
count=0
for i in rating:
  if(i!="Nan"):
    rate+=float(i)
  else:
    count+=1

In [ ]:
count

0

In [ ]:
df['Rating']=rating

In [ ]:
screen=df['Screen']

In [ ]:
sc=[]
for i in screen:
  try:
    sc.append(i.split("(")[0].split(" ")[0])
  except:
    sc.append("NaN")

In [ ]:
avg=0
for i in range(len(sc)):
  try:
    avg+=sc[i]
  except:
    avg+=0

In [ ]:
screen=[]
for i in range(len(sc)):
  try:
    screen.append(float(sc[i]))
  except:
    screen.append(avg/len(sc))

In [ ]:
df['Screen']=screen

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     983 non-null    object
 1   Price    983 non-null    object
 2   Rating   983 non-null    object
 3   Memory   983 non-null    object
 4   Battery  983 non-null    int64
 5   Camera   983 non-null    object
 6   Screen   983 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 53.9+ KB

In [ ]:
rating=df['Rating']

In [ ]:
rating = [float(i) for i in rating]

In [ ]:
df['Rating'] = rating

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     983 non-null    object
 1   Price    983 non-null    object
 2   Rating   983 non-null    float64
 3   Memory   983 non-null    object
 4   Battery  983 non-null    int64
 5   Camera   983 non-null    object
 6   Screen   983 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 53.9+ KB

In [ ]:
price = df['Price']
price = [int(i.replace(",","")) for i in price]

In [ ]:
df['Price'] = price

In [ ]:
Memory=df['Memory']

In [ ]:
Memory[0].split("|")

['4 GB RAM ', ' 64 GB ROM ', ' Expandable Upto 1 TB']

In [ ]:
rom=[]
for i in Memory:
  try:
    c=i.split("|")
    if(len(c)==3):
      rom.append(int(c[1].split(" ")[1]))
    elif(len(c)==2):
      rom.append(int(c[1].split(" ")[1]))
    else:
      rom.append(int(c[0].split(" ")[0]))
  except:
    rom.append(32)

In [ ]:
df['ROM'] = rom

In [ ]:
df.drop(['Memory'],axis=1,inplace=True)

In [ ]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     983 non-null    object
 1   Price    983 non-null    int64
 2   Rating   983 non-null    float64
 3   Battery  983 non-null    int64
 4   Camera   983 non-null    object
 5   Screen   983 non-null    float64
 6   ROM      983 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 53.9+ KB

In [ ]:
df.to_csv("Flipkart Mobiles Dataset Cleaned.csv")

In [ ]:
df.drop(['Name'],axis=1)

,Price,Rating,Battery,Camera,Screen,ROM
0,9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
1,9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
2,9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
3,7599,4.4,5000,13MP Rear Camera | 5MP Front Camera,16.59,64
4,14499,4.3,5000,50MP + 8MP + 2MP | 8MP Front Camera,16.76,128
...,...,...,...,...,...,...
978,9990,3.7,5000,13MP Rear Camera | 10MP Front Camera,15.90,64
979,14450,4.3,5020,48MP + 8MP + 2MP + 2MP | 13MP Front Camera,16.59,128
980,60990,4.6,3879,12MP + 12MP | 12MP Front Camera,15.49,128
981,15499,4.3,6000,48MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.59,128
982,1410,4.1,1000,0.3MP Rear Camera,6.10,24

In [ ]:
df

,Name,Price,Rating,Battery,Camera,Screen,ROM
0,"SAMSUNG Galaxy F13 (Nightsky Green, 64 GB)",9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
1,"SAMSUNG Galaxy F13 (Sunrise Copper, 64 GB)",9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
2,"SAMSUNG Galaxy F13 (Waterfall Blue, 64 GB)",9499,4.4,6000,50MP + 5MP + 2MP | 8MP Front Camera,16.76,64
3,"REDMI 9i Sport (Carbon Black, 64 GB)",7599,4.4,5000,13MP Rear Camera | 5MP Front Camera,16.59,64
4,"SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)",14499,4.3,5000,50MP + 8MP + 2MP | 8MP Front Camera,16.76,128
...,...,...,...,...,...,...,...
978,"Maplin MAP3 (Phantom Black, 64 GB)",9990,3.7,5000,13MP Rear Camera | 10MP Front Camera,15.90,64
979,"REDMI Note 9 (Scarlet Red, 128 GB)",14450,4.3,5020,48MP + 8MP + 2MP + 2MP | 13MP Front Camera,16.59,128
980,"APPLE iPhone 12 (Black, 128 GB)",60990,4.6,3879,12MP + 12MP | 12MP Front Camera,15.49,128
981,"REDMI 9 Power (Fiery Red, 128 GB)",15499,4.3,6000,48MP + 8MP + 2MP + 2MP | 8MP Front Camera,16.59,128
982,LAVA A5,1410,4.1,1000,0.3MP Rear Camera,6.10,24